


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse ;
    width: 1200px;
    margin: 0 auto;
}

/* main content */

.main_content {
    background-color: #FFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}


/* about styles */


.about {
margin-bottom: 40px;
}

.about_positio {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_discription {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* project styles */

.projects {
    margin-bottom: 50px;
} 

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.pjct_list {
    padding: 0;
    margin-left: 15px;
}

.pjct_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px; 
    color: #000000;
}

.pjct_link {
    margin-left: 10px;
}

.pjct_pjct, .pjct_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.pjct_brkt {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */

.work {
padding-bottom: 40px;
}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959; 
}

/* education styles */

.education {
 margin-bottom: 10px;
}

.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.management {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.fhoto {
    width: 370px;
    margin-bottom: 50px;
}

.contacts {
    margin-bottom: 50px;
}

.tech_skills {
    margin-bottom: 45px;
}

.contacts, .tech_skills, .soft_skills {
 margin-left: 40px;   
}

.sidebar_titles {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contacts_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

.tech_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 20px;
}

.tech_skills_dot {
    color: #FB6D3A;
}
.tech_skills_item {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 20px;
}

.soft_skills_item {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills_dot {
    color: #FB6D3A;
}